@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;600&display=swap');
*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}
main{
    width: 20%;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    margin: auto;
}
.nft-container{
    width: 90%;
    border-radius: 5px;
    margin: 5%;
    position: relative;
}
.nft-container .nft-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
/* styling for hover property on nft image */
.hover-cover{
    position: absolute;
    display: flex;
    background-color: hsl(178, 100%, 50%, 40%);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    top: 0;
    z-index: 999;
    opacity: 0;
}
.view-icon{
    height: 40px;
    margin: auto;
}
/* end of styling for hover property on nft image */
.main-p{
    font-size: 15px;
    font-weight: 200;
    margin-top: 1em;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    color:hsl(215, 51%, 70%);
}
h2{
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    color: hsl(0, 0%, 100%);
}
div{
    display: flex;
}
.top-div{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1em;
    padding-bottom: 15px;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}
.left-div{
    margin-right: auto;
    color: hsl(178, 100%, 50%);
}
.right-div{
    margin-left: auto;
    color: hsl(215, 51%, 70%);
}
.bottom-div{
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.bottom-div img{
    height: 22px;
    border-radius: 50%;
    border: 1px solid white;
}
.bottom-div p{
    color:hsl(215, 51%, 70%);
    font-size: 12px;
    font-weight: 200;
    margin-left: 20px;
}
span{
    color:hsl(0, 0%, 100%);
    font-weight: 400;
}
/* active states styling */
.hover-cover:hover{
    opacity: 1;
    cursor: pointer;
}
h2:hover{
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}
span:hover{
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}
/* end of active states styling */

/* media queries */
@media (max-width:500px){
    main{
        width: 90%;
    }
}
@media (min-width: 501px) and (max-width:1000px){
    main{
        width: 40%;
    }
}